{
  "job": {
    "func": {
      "file": "file-name containing the function to be scheduled",
      "name": "function-name-to-be-scheduled",
      "args": [
        'function-argument01',
        'function-argument02'
      ]
    },
    "schedule": {
      "timezone": "Asia/Seoul",
      "day_of_week": "tue-sat",
      "hour": 21,
      "minute": 58,
      "end_date": "2020-11-20"
    }
  },
  "checker": {
    "commit_keyword":
      "keyword-regexp",
    "period_day": 6,
    "whom": [
      {
        "committer": "committer-github-username",
        "target_commit_count": 5
      }
    ]
  },
  "github": {
    "user": "your-username",
    "token": "your-personal-access-tokens",
    "repo": {
      "your-repo-committer-01",
      "your-repo-committer-02"
    }
  },
  "slack": {
    "bot_name": "your-bot-name",
    "token": "your-bot-token",
    "channel_name": "channel-name-to-send-the-message",
    "channel_id": "channel-id-to-send-the-message",
    "user_id": {
      "your-repo-committer-01": "slack-user-id-01",
      "your-repo-committer-02": "slack-user-id-02"
    },
    "msg": {
      "format": "This is dev test message {} {}",
      "args": [
        "args0",
        "args1"
      ]
    }
  }
}